header,
main #about,
main #contact-me .container .row .col button.btn-green {
    background-color: #1abc9c;
    color: white;
    border: none;
}

/* nav */
nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

nav.__nav {
    background-color: #2c3e50;
}

nav.navbar .nav-left {
    font-size: 18px;
}

nav.navbar .nav-right {
    font-size: 12px;
}
/* /nav */

/* header */
/* TEST */
header img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
/* /TEST */
header .header-txt {
    font-size: 18px;
}
/* / header */

/* main */
/*main #portfolio .container .portfolio-cards .portfolio-col {
     add vertical spacing 
}*/

/* TEST */
main #portfolio .container .portfolio-cards .col .portfolio-card {
    height: 150px;
}
/* /TEST */
/* /main */

/* footer */
footer {
    color: white;
}

footer .footer-top {
    background-color: #3a546d;
}

footer .footer-top .container .row .col .row .icons {
    padding: 0;
}

footer .footer-top .container .row .col .row .icons a {
    width: 2.5em;
    height: 2.5em; 
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    text-decoration: none;
}

footer .footer-bottom {
    font-size: .7rem;
    background-color: #2c3e50;
}
/* /footer */